<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		  <!-- Bootstrap -->
		  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Main CSS -->
		<link rel="stylesheet" href="/styles/main.css">
		<title>Current</title>
	</head>
	<body>
		<header>
			<h1>Current</h1>
			<nav>
				<ul class="nav justify-content-end">
					<li class="nav-item">
						<a class="nav-link" href="/member">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/transfer">Transfer</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/register">Sign-Up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Log-In</a>
					</li>
				</ul>
			</nav>
        </header>
        
	<h1>Deposit. Withdraw. Transfer</h1>
		
	
	</body>
</html>