<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>CashStash</h1>
			<nav>
				<ul>
					<li>
						<a href="/account">Account</a>
					</li>
					<li>
						<a href="/transfer">Transfer</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>