<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Stash</h1>
			<nav>
				<ul>
					<li>
						<a href="/account">Account</a>
					</li>
					<li>
						<a href="/transfer">Transfer</a>
					</li>
					<li>
						<a href="/transfer">Login</a>
					</li>
					<li>
						<a href="/transfer">Sign-Up</a>
					</li>
				</ul>
			</nav>
        </header>
        
        <h1>Deposit. Withdraw. Transfer</h1>
	</body>
</html>