<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="styles/main.css">
		<title>Current</title>
	</head>
	<body>
		<header>
			<h1>Current</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/login">Log-In</a>
					</li>
				</ul>
			</nav>
        </header>
        
		<h1>Sign-Up</h1>
		<form action="/register" method="POST">
		<div class="form-items">
			<input class="text-input" id="username" name="username" type="text" placeholder="Username"></input>
		  </div>
		<div class="form-items">
			<input class="text-input" id="name" name="name" type="text" placeholder="Name"></input>
		  </div>
		  <div class="form-items">
			<input class="text-input" id="password" name="password" type="text" placeholder="Password"></input>
		  </div>
		  <div class="form-items">
			<input class="text-input" id="email" name="email" type="text" placeholder="Email"></input>
		  </div>
		  <button class="text-input" type="submit">Sign Up!</button>
		</form>
	  
	</body>
</html>